body {
    margin: 0;
    padding: 0;
    background: #000000;
}

p {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    background: url('pexels-secret-garden-931177.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center/cover;
    color: rgba(225, 225, 225, 0);
    -webkit-background-clip: text;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    margin: 0;
    color: white; /* Set the color to contrast with the background */
}
